@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Fredoka+One&family=Economica:wght@700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.slug,
.slug a,
.back a,
.footer a{
  text-decoration: none;
  font-weight: bold;
  font-size: 10pt;
}

.slug {
  color: #333333;
}

.slug a {
  color: blue;
}

.back a,
.section p {
  color: #333333;
}

.footer a {
  color: #FFFFFF;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
}

.header {
  text-align: left;
  padding: 20px 0;
}

.header h1 {
  margin: 0;
  font-family: 'Fredoka One', sans-serif;
  font-weight: normal;
  font-size: 25pt;
}

.header h1 a{
  text-decoration: none;
  color: #333333;
}

h2,
.header h2 {
  font-family: 'Economica', sans-serif;
  font-size: 16pt;
  margin: 0;
}

.header h4 {
  font-family: 'Economica', sans-serif;
  font-size: 12pt;
}

.footer {
  background-color: #333333;
  color: white;
  height: 120px;
  margin: -20px;
  padding: 20px;
  font-size: 10pt;
}

.feature-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.section {
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}

.section:last-child {
  border-bottom: none;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.section h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  font-weight: bold;
}

.section h4 {
  color: #e53b44;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}

blockquote .comment {
  font-size: 10pt;
  text-transform: uppercase;
}

.pictures tr td,
.gameboy tr td {
  overflow: hidden;
}

.pictures tr td,
.pictures tr td img{
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.gameboy tr td,
.gameboy tr td img {
  width: 240px;
  height: 216px;
  image-rendering: auto;
  object-fit: contain;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  margin: auto;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  text-align: center;
}

.card-title {
  font-size: 1.5em;
  margin: 10px 0;
}

.card-button {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #007BFF;
}

#itch {
  background-color: #fa5c5c;
}

.top-align {
  vertical-align: top;
}

table {
  width: 100%;
  margin: 0 auto;
}
